<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Login</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <form method="POST">
                <div class="input-box">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username"
                        name="username"
                        required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" id="password"
                        name="password"
                        required>
                </div>
                <button class="btn" type="submit" value="Submit">Submit</button>
            </form>
            <small>Don't have account? <a href="/signup">Sign Up</a></small>
        </div>
    </body>
</html>