<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Home</title>
    </head>
    <body>
        <h1>Hello, World!</h1>
        <form action="greetings" method="POST">
            <input
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                required
                class />
            <button type="submit" class="btn">Submit</button>
        </form>
    </body>
</html>